@{
    Layout = "_LayoutUser";
}
        @*CARDS*@
        <div class="album py-5 bg-body-tertiary">
            <div class="container">
                <div class="row my-3">
                    <div class="col-12">
                        <button class="btn btn-success" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasManagePizza" aria-controls="offcanvasManagePizza">
                            CARRELLO
                        </button>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    @*MODELLO DI CARD IN LAVORAZIONE*@
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/img/pizza_1.jpg" class="card-img-top object-fit-cover" width="100%" height="225" role="img" focusable="false" alt="La vera Pizza" />
                            <div class="card-body">
                                <h3 class="card-text">PIZZA BUONISSIMA</h3>
                                <p class="card-text">piena di sapore BUONO</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group ">
                                        <button type="button" class="btn text-light btn-primary btn-sm btn-outline-primary">+</button>
                                        <button type="button" class="btn text-light btn-danger btn-sm btn-outline-secondary">-</button>
                                    </div>
                                </div>
                                <div class="card-item fw-semibold pt-2 text-body-secondary bg-white px-0">
                                    Prezzo: 8€
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/img/pizza_2.jpg" class="card-img-top object-fit-cover" width="100%" height="225" role="img" focusable="false" alt="La vera Pizza" />
                            <div class="card-body">
                                <h3 class="card-text">PIZZA BUONISSIMA</h3>
                                <p class="card-text">piena di sapore BUONO</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group ">
                                        <button type="button" class="btn text-light btn-primary btn-sm btn-outline-primary">+</button>
                                        <button type="button" class="btn text-light btn-danger btn-sm btn-outline-secondary">-</button>
                                    </div>
                                </div>
                                <div class="card-item fw-semibold pt-2 text-body-secondary bg-white px-0">
                                    Prezzo: 8€
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/img/pizza_3.jpg" class="card-img-top object-fit-cover" width="100%" height="225" role="img" focusable="false" alt="La vera Pizza" />
                            <div class="card-body">
                                <h3 class="card-text">PIZZA BUONISSIMA</h3>
                                <p class="card-text">piena di sapore BUONO</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group ">
                                        <button type="button" class="btn text-light btn-primary btn-sm btn-outline-primary">+</button>
                                        <button type="button" class="btn text-light btn-danger btn-sm btn-outline-secondary">-</button>
                                    </div>
                                </div>
                                <div class="card-item fw-semibold pt-2 text-body-secondary bg-white px-0">
                                    Prezzo: 8€
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/img/pizza_4.jpg" class="card-img-top object-fit-cover" width="100%" height="225" role="img" focusable="false" alt="La vera Pizza" />
                            <div class="card-body">
                                <h3 class="card-text">PIZZA BUONISSIMA</h3>
                                <p class="card-text">piena di sapore BUONO</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group ">
                                        <button type="button" class="btn text-light btn-primary btn-sm btn-outline-primary">+</button>
                                        <button type="button" class="btn text-light btn-danger btn-sm btn-outline-secondary">-</button>
                                    </div>
                                </div>
                                <div class="card-item fw-semibold pt-2 text-body-secondary bg-white px-0">
                                    Prezzo: 8€
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/img/pizza_5.jpg" class="card-img-top object-fit-cover" width="100%" height="225" role="img" focusable="false" alt="La vera Pizza" />
                            <div class="card-body">
                                <h3 class="card-text">PIZZA BUONISSIMA</h3>
                                <p class="card-text">piena di sapore BUONO</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group ">
                                        <button type="button" class="btn text-light btn-primary btn-sm btn-outline-primary">+</button>
                                        <button type="button" class="btn text-light btn-danger btn-sm btn-outline-secondary">-</button>
                                    </div>
                                </div>
                                <div class="card-item fw-semibold pt-2 text-body-secondary bg-white px-0">
                                    Prezzo: 8€
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/img/pizza_6.jpg" class="card-img-top object-fit-cover" width="100%" height="225" role="img" focusable="false" alt="La vera Pizza" />
                            <div class="card-body">
                                <h3 class="card-text">PIZZA BUONISSIMA</h3>
                                <p class="card-text">piena di sapore BUONO</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group ">
                                        <button type="button" class="btn text-light btn-primary btn-sm btn-outline-primary">+</button>
                                        <button type="button" class="btn text-light btn-danger btn-sm btn-outline-secondary">-</button>
                                    </div>
                                </div>
                                <div class="card-item fw-semibold pt-2 text-body-secondary bg-white px-0">
                                    Prezzo: 8€
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/img/pizza_7.jpg" class="card-img-top object-fit-cover" width="100%" height="225" role="img" focusable="false" alt="La vera Pizza" />
                            <div class="card-body">
                                <h3 class="card-text">PIZZA BUONISSIMA</h3>
                                <p class="card-text">piena di sapore BUONO</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group ">
                                        <button type="button" class="btn text-light btn-primary btn-sm btn-outline-primary">+</button>
                                        <button type="button" class="btn text-light btn-danger btn-sm btn-outline-secondary">-</button>
                                    </div>
                                </div>
                                <div class="card-item fw-semibold pt-2 text-body-secondary bg-white px-0">
                                    Prezzo: 8€
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/img/pizza_8.jpg" class="card-img-top object-fit-cover" width="100%" height="225" role="img" focusable="false" alt="La vera Pizza" />
                            <div class="card-body">
                                <h3 class="card-text">PIZZA BUONISSIMA</h3>
                                <p class="card-text">piena di sapore BUONO</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group ">
                                        <button type="button" class="btn text-light btn-primary btn-sm btn-outline-primary">+</button>
                                        <button type="button" class="btn text-light btn-danger btn-sm btn-outline-secondary">-</button>
                                    </div>
                                </div>
                                <div class="card-item fw-semibold pt-2 text-body-secondary bg-white px-0">
                                    Prezzo: 8€
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/img/pizza_9.jpg" class="card-img-top object-fit-cover" width="100%" height="225" role="img" focusable="false" alt="La vera Pizza" />
                            <div class="card-body">
                                <h3 class="card-text">PIZZA BUONISSIMA</h3>
                                <p class="card-text">piena di sapore BUONO</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group ">
                                        <button type="button" class="btn text-light btn-primary btn-sm btn-outline-primary">+</button>
                                        <button type="button" class="btn text-light btn-danger btn-sm btn-outline-secondary">-</button>
                                    </div>
                                </div>
                                <div class="card-item fw-semibold pt-2 text-body-secondary bg-white px-0">
                                    Prezzo: 8€
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/img/pizza_10.jpg" class="card-img-top object-fit-cover" width="100%" height="225" role="img" focusable="false" alt="La vera Pizza" />
                            <div class="card-body">
                                <h3 class="card-text">PIZZA BUONISSIMA</h3>
                                <p class="card-text">piena di sapore BUONO</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group ">
                                        <button type="button" class="btn text-light btn-primary btn-sm btn-outline-primary">+</button>
                                        <button type="button" class="btn text-light btn-danger btn-sm btn-outline-secondary">-</button>
                                    </div>
                                </div>
                                <div class="card-item fw-semibold pt-2 text-body-secondary bg-white px-0">
                                    Prezzo: 8€
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/img/pizza_11.jpg" class="card-img-top object-fit-cover" width="100%" height="225" role="img" focusable="false" alt="La vera Pizza" />
                            <div class="card-body">
                                <h3 class="card-text">PIZZA BUONISSIMA</h3>
                                <p class="card-text">piena di sapore BUONO</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group ">
                                        <button type="button" class="btn text-light btn-primary btn-sm btn-outline-primary">+</button>
                                        <button type="button" class="btn text-light btn-danger btn-sm btn-outline-secondary">-</button>
                                    </div>
                                </div>
                                <div class="card-item fw-semibold pt-2 text-body-secondary bg-white px-0">
                                    Prezzo: 8€
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/img/pizza_12.jpg" class="card-img-top object-fit-cover" width="100%" height="225" role="img" focusable="false" alt="La vera Pizza" />
                            <div class="card-body">
                                <h3 class="card-text">PIZZA BUONISSIMA</h3>
                                <p class="card-text">piena di sapore BUONO</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group ">
                                        <button type="button" class="btn text-light btn-primary btn-sm btn-outline-primary">+</button>
                                        <button type="button" class="btn text-light btn-danger btn-sm btn-outline-secondary">-</button>
                                    </div>
                                </div>
                                <div class="card-item fw-semibold pt-2 text-body-secondary bg-white px-0">
                                    Prezzo: 8€
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        @*OFFCANVAS GESTIONE PAGINA*@
        <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasManagePizza" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">Carrello</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="container d-flex justify-content-around">
                    <div class="col-8">
                        <ol class="btn-outline-danger ">
                            <li class="lh-lg">Margherita 10€</li>
                            <li class="lh-lg">Napoli 11€</li>
                            <li class="lh-lg">Marinara 9€</li>
                            <li class="lh-lg">Calzone Classico 12€</li>
                            <li class="lh-lg">Capricciosa 10€</li>
                            <li class="lh-lg">TOT:&nbsp;32€</li>
                        </ol>
                    </div>
                    <div class="col-4">
                        <ul class="list-unstyled lh-3">
                                       
                            <li class="lh-lg"><button type="button" class="btn py-0 text-light btn-danger btn-sm btn-outline-secondary">x</button></li>
                            <li class="lh-lg"><button type="button" class="btn py-0 text-light btn-danger btn-sm btn-outline-secondary">x</button></li>
                            <li class="lh-lg"><button type="button" class="btn py-0 text-light btn-danger btn-sm btn-outline-secondary">x</button></li>
                            <li class="lh-lg"><button type="button" class="btn py-0 text-light btn-danger btn-sm btn-outline-secondary">x</button></li>
                            <li class="lh-lg"><button type="button" class="btn py-0 text-light btn-danger btn-sm btn-outline-secondary">x</button></li>
                           
                        </ul>
                    </div>
                </div>
            </div>
        </div>

